<!DOCTYPE html>
<html lang="pt-br" ng-app="projetointegrado1">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../controllers/lista.js"></script>
    <link rel="stylesheet" href="../views/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Divulga ONG</title>
</head>
<body ng-controller="lista">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="../vendor/images/HatchfulExport-All/logo_transparent_new.png" width="300px" class="rounded float-start logo" alt="Logo do Divulga ONG">
          <div class="collapse navbar-collapse right" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Página Incial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="cadastro.html">Cadastrar ONG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="lista.html">Pesquisar ONGs</a>
              </li>
            </ul>
          </div>
          <img src="../vendor/images/logo_univesp.png" width="300px" class="rounded float-end" alt="Logo da Univesp">
        </div>
      </nav>
        <div class="container">
          <h3><b>Pesquisar ONGs:</b></h3>
          <form class="row item-ong">
            <div class="mb-3 col-lg-4">
              <input type="text" placeholder="Nome" class="form-control" ng-model="nome">
            </div>
            <div class="mb-3 col-lg-4">
              <input type="text" placeholder="Cidade" class="form-control" ng-model="cidade">
            </div>
            <div class="mb-3 col-lg-4">
              <button type="submit" type="submit" class="btn btn-primary col-lg-12" ng-click="search()">Pesquisar</button>
            </div>
            <div class="alert alert-warning row" role="alert" ng-show="statusbusca.vazio">
              Nenhuma ONG encontrada!
            </div>
          </form>
          <div class="row alert alert-danger" role="alert" ng-show="statusbusca.erro">
            Erro ao buscar ONGs! Tente novamente mais tarde.
          </div>
          <div class="row card item-ong" aria-hidden="true" ng-repeat="ong in ongs track by $index">
            <h5 class="card-title">{{ong.nome}}</h5>
            <p class="card-text item-text"><b>CNPJ:</b> {{ong.cnpj}}</p>
            <p class="card-text item-text"><b>Endereço:</b> {{ong.endereco}}, {{ong.numero}} - <b>Bairro:</b> {{ong.bairro}} - <b>Cidade:</b> {{ong.cidade}} - {{ong.estado}}</p>
            <p class="card-text item-text"><b>CEP:</b> {{ong.cep}} - <b>País:</b> {{ong.pais}}</p>
            <p class="card-text item-text"><b>Telefone:</b> {{ong.telefone}} - <b>Email:</b> {{ong.email}} - <b>Site:</b> {{ong.site}}</p>
          </div>
        </div>
    </div>
</body>
</html>